@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
body{
    margin: 0;
    display: flex;
    overflow: hidden;
    background-color: #053B50;

    .button-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        #btn{
            position: relative;
            overflow: hidden;
            background-color: #64CCC5;
            border: none;
            border-radius: 5px;
            box-shadow: 3px 3px 7px #eeeeee85;
            height: 50px;
            width: 150px;
            font-family: 'Dancing Script', cursive;
            font-size: 2em;

            &:hover{
                cursor: pointer;
            }

            #text{
                position: absolute;
                color: black;
                top: 5px;
                left: 23px;
                z-index: 1;
            }

            #ripple{
                position: absolute;
                z-index: 0;
                left: 0;
                top: 0;
                border-radius: 50%;
                height: 1;
                width: 1;
                transform-origin: center;
                background: radial-gradient( #64CCC5, #053B50,);
            }
        }
    }
}