@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
body{
    margin: 0;
    display: flex;
    overflow: hidden;
    background-color: #053B50;

    .button-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        button{
            background-color: #64CCC5;
            border: none;
            border-radius: 5px;
            box-shadow: 3px 3px 7px #eeeeee85;
            height: 50px;
            width: 150px;
            font-family: 'Dancing Script', cursive;
            font-size: 2em;

            &:hover{
                cursor: pointer;
            }
        }
    }
}